/* ---------------------------
    Header Section 
------------------------------*/
#reactheme-header {
    &.rts-default-header{
        background: #fff;
        .menu-area{
            padding-left: 35px;
            border-radius: 0 0  7px 7px;
            position: relative;
            z-index: 1;
            top:-8px;
        }
        
        .site-title{
            a{
                color: $titleColor;
                font-size: 40px;
                font-weight: 700;
                line-height: 48px;
                
            }
        }
        .header-logo{            
            padding: 20px 0 20px;
            display: flex;
            flex: 1;
            text-align: left;
        }
        
        .row-table{
            display: flex;
            width: 100%;
            position: relative;
            align-items: center;
            justify-content: space-between;
        }
    }
    width: 100%;
    z-index: 9;
    .container-fluid{
        padding-left: 60px;
        padding-right: 60px;
    }
    .header-inner{
        position:relative;       
        .default-logo-area{
            background: #f2f2f2;           
        }
       .menu-area{
        background: #fff;
       }
    }    
    .search-wrap{
        display: flex;
        padding: 0px 18px 9px 18px;
        border-bottom: 2px solid #fff;
        [type="search"] {
            border: none;
            color: #ffffff;
            font-size: 16px;
            outline: none;
            background: none;
            padding: 0;
        }
        button{
            border: none;
            background: none;
            padding: 0;
            position: relative;
            top: 8px;
            outline: none;
            
        }
    }
    .menu-sticky.sticky{
        backface-visibility: hidden;        
        .menu-area .navbar{
            margin-right: 0;
        }      
        .row-table .logo-areas.custom-sticky-logo{
            display: block;
        }        
        .row-table .logo-areas.custom-logo-area{
            display: none;
        }
    }
    .sticky_search{
        font-size: 18px;
        cursor: pointer;
        color:var(--color-primary)
    }
}
.bread-gap .reactheme-breadcrumbs.porfolio-details{
    margin-top: 0;
}
.primary-menu{
    ul{
        li:last-child{
            padding-right: 0 !important;
        }
    }
}
.menu-area .navbar ul li.current-menu-ancestor a,
.menu-area .navbar ul > li.menu-item-has-children:hover > a:before{
    color:var(--color-primary);
}
.menu-area {  
    padding-top: 0;
    padding-bottom: 0;  
    text-align: center;  
    &.separator_yes{
        li:last-child{
            a{
                padding-right: 30px;
            }
        }
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }    
    .navbar {
        margin-bottom: 0;
        border: 0;       
        padding: 0;   
        display: block;    
        ul{
            margin: 0;
            padding: 0;            
            li {                
                position: relative;
                display: inline-block;
                transition: 0.3s;              
                padding: 19px 8px;
                &.current-menu-ancestor, 
                &.current_page_item{
                    a{
                        color: var(--color-primary);
                       
                    }
                }
                a{
                    color: $titleColor;
                    font-size: 16px;                   
                    padding-right: 16px;
                    font-weight: 700;
                    line-height: 24px;                   
                    font-family: $bodyFont;
                }
                &:hover{
                    color: var(--color-primary);
                    a{
                        color:var(--color-primary);
                    }
                }
                ul.sub-menu {                    
                    min-width: 250px;
                    padding: 10px 17px 0px 17px;               
                    li{
                        float: none;
                        display: block;
                        margin: 0;
                        text-align: left;
                        line-height: 25px;
                        position: relative;
                        padding: 0 0;
                        border-bottom: 1px solid #EBEBEB;
                        &:last-child{
                            border-bottom: 0;
                        }
                        a{
                            line-height: 25px;
                            padding: 13px 5px;
                            color: $titleColor;
                            font-weight: 700;
                            font-family: $bodyFont;  
                            margin: 4px 0;                                                                           
                        }
                        &.current-menu-ancestor, 
                        &.current_page_item{
                            > a{
                                color: var(--color-primary);
                                &:before{
                                    color:var(--color-primary);
                                }
                            }
                        }
                        &:hover{
                            > a{
                                color: var(--color-primary);
                            }
                        }
                    }                                           
                }
                &:hover ul{
                    opacity: 1;
                    position:absolute;
                }
                > a {
                    display: block;
                    text-decoration: none;                    
                    transition: 0.3s;
                }

                &.active {
                    a{
                        color: $secondaryColor;
                    }
                    li{
                        a{
                            color: $secondaryColor;
                            &hover{
                                color:$secondaryColor;
                            }
                        }
                    }
                }
                /*Dropdown Menu area*/ 
                .sub-menu{
                    background:$whiteColor;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    transform: scaleY(0);
                    transform-origin: 0 0 0;
                    transition: .3s;
                    width: 250px;
                    z-index: 99999 !important; 
                    text-align: left;
                    visibility: hidden;
                    -webkit-box-shadow: 0 36px 35px rgba(0,0,0,.08);
                    -moz-box-shadow:    0 36px 35px rgba(0,0,0,.08);
                    box-shadow:         0 36px 35px rgba(0,0,0,.08);
                    border-radius: 0px 0px 10px 10px;
                    li {
                        line-height: normal;
                        height: auto;
                        display: block;
                        margin: 0;
                        padding: 0;
                        a {
                            display: block;
                            padding: 12px 0;
                            text-transform: none;
                            transition: 0.3s;
                            color: $titleColor;
                            font-weight: 700;                            
                            &:hover {
                                color: var(--color-primary);
                            }
                            &:hover{
                                &:before {
                                    opacity: 1 !important;
                                }
                            }
                        }
                        &.current-menu-item {
                            a {
                                color: var(--color-primary);
                            }
                        }
                        ul{
                            left:100% !important;
                            top: 0 !important;
                        }
                    }
                   
                }
                &:hover {
                    ul {
                        opacity: 1;
                        transform: scaleY(1);
                        visibility: visible;
                    }
                }
            }
        }
        .navbar-toggle {
            background-color: var(--color-primary);
            border-radius: 2px;
            -webkit-transition: 0.4s ease all;
            transition: .4s ease all;
            .icon-bar {
                background-color: #fff;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
 
    &.vertical{
        .navbar ul li{
            display: block;
            list-style: none;
            a{
                i{
                    margin-right: 10px;
                    font-size: 14px;
                }
            }
        }
        .yes{
            .navbar ul li{
                display: inline-block;
                width: 47%;
                
              
            }
        }
    }
}

.menu-area{
    .navbar ul > .current-menu-ancestor.menu-item-has-children > a{
        
        &:before{
            color:var(--color-primary);
        }
        
    }
    .navbar ul > li.menu-item-has-children > a{
    position: relative;
    margin-right: 18px;
        &:before{
            content: "\e809";
            position: absolute;
            font-family: "rt-icons";
            left: auto;
            right: 0;
            top: 53%;
            text-align: center;
            z-index: 9;
            font-size: 16px;
            display: block;
            cursor: pointer;
            transform: translateY(-50%);
            transition: all .5s ease;
            font-weight: 400;
            color: $titleColor;
            font-weight: 600;
        }
    }
    .icon2{
        .navbar ul > li.menu-item-has-children > a{
            position: relative;
            margin-right: 18px;
            &:before{
                content: "\e809";
                position: absolute;
                font-family: "rt-icons";
                left: auto;
                right: 0;
                top: 53%;
                text-align: center;
                z-index: 9;
                font-size: 16px;
                display: block;
                cursor: pointer;
                transform: translateY(-50%);
                transition: all .5s ease;
                font-weight: 600; 
                &:hover::before {
                    content: "\e808" !important;
                    font-family: "rt-icons";
                }
            }
        }
    }
    
}


/*******off Canvas css********/

ul.offcanvas-icon{    
    margin: 0;
    padding:0;
    list-style: none;    
    .nav-link-container{
        a{
            padding: 0px;
            background:transparent;       
            max-width: 28px; 
            display: inline-block;     
            svg{
                fill: var(--color-primary);
                path{
                    fill: var(--color-primary);
                }
                rect{
                    fill: var(--color-primary);
                }
            }   
            
        }
    }
}

.stuck.sticky{
    .sticky-hide{
        display: none;
    }
}

.sidenav.offcanvas-icon.nav-active-menu-container{
    margin-top: 0;
}
.offcanvas-icon{
    .nav-link-container{
        .nav-menu-link{
            svg{        
                background: transparent;             
            }
        }
    }
    &.layout-2{
        .nav-menu-link{
            display: block;
            padding: 12px 0px 16px 0px;
            width: 58px;
            height: 55px;
            display: block;
                transition: all 0.5s ease 0s;
            span{
                display: block;
                border-top: 3px solid #fff;
                width: 20px;  
                position: relative;
                top: 2px;           
                &.line3{
                    width: 10px;
                    postion: relative;
                    top: 4px;
                     border-top: 2px solid #fff;
                }
                &.line1{
                    width: 10px;
                    margin-top: 3px;
                    postion: relative;
                    top: 1px;
                     border-top: 2px solid #fff;
                }
            }
            &:hover{
                span{
                    border-color: #fff !important;
                    background: #fff !important
                }
            }
        }
    }
}
.sidenav{
    &.nav-active-menu-container{
        overflow-y: auto;   
        padding: 50px 50px 0;
    }
    .sub-menu{
        display: none;
    }
    &.offcanvas-icon{
        .reactheme-offcanvas-right{
            a{
                display: block;   
                font-size: 18px;            
                &.quote-btn{
                    margin-bottom: 25px;
                    margin-top: 8px;
                    span{
                        background: #fff;
                        color: #000;
                        border-radius: 3px;
                        display: inline-block;
                        padding: 7px 40px 4px;
                        transition:all .5s ease;
                    }
                    &:hover{
                        span{
                            background: $hoverColor;
                        }
                    }
                }
                &.emails{
                    padding-bottom:20px;
                }
            }
            .reactheme-innner-offcanvas-content{
                padding-left: 135px;
                padding-top: 27px;
                .widget{
                    margin: 0 0 35px;
                    &.widget_contact_widget{
                        padding-top: 25px;
                    }
                }
                a{
                    transition: unset;
                }
            }
        }
    }   
    
}
.mobile-menu-container {
    div {
        ul{
            position: relative;
            li{
                position: relative !important;
                a{
                    border-bottom: 1px solid #f0f0f0;
                    &:hover{
                        color: var(--color-primary) !important;
                    }
                }
            }
        }
        ul > li.current_page_parent > a{
            color: var(--color-primary) !important;
        }
    }
    .menu > li:last-child{
        a{
            border-bottom: none;
        }
    }
    .social-icon-responsive{
        ul {
            li { 
                a{
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
}


.sidenav .menu > li > .sub-menu li ul > li a {
    padding-left: 60px;
}


#mobile_menu ul ul li,
#mobile_menu li:hover > ul > li {
height: auto;
}
#mobile_menu ul li a,
#mobile_menu ul ul li a {
width: 100%;
}
#mobile_menu > ul > li {
float: none;
}
#mobile_menu ul ul li a {
padding-left: 25px;
}
#mobile_menu ul ul ul li a {
padding-left: 35px;
}

#mobile_menu ul ul,
#mobile_menu ul ul ul,
#mobile_menu.align-right ul ul {
position: relative;
left: 0;
width: 100%;
margin: 0;
text-align: left;
}
#mobile_menu > ul > li.has-sub > a:after,
#mobile_menu > ul > li.has-sub > a:before,
#mobile_menu ul ul > li.has-sub > a:after,
#mobile_menu ul ul > li.has-sub > a:before {
display: none;
}
#mobile_menu #menu-button {
display: block;
padding: 17px;
color: #dddddd;
cursor: pointer;
font-size: 12px;
text-transform: uppercase;
font-weight: 700;
}
#mobile_menu .menu-button:after {
position: absolute;
top: 22px;
right: 17px;
display: block;
height: 4px;
width: 20px;
border-top: 2px solid #dddddd;
border-bottom: 2px solid #dddddd;
content: '';
}
#mobile_menu .menu-button:before {
position: absolute;
top: 16px;
right: 17px;
display: block;
height: 2px;
width: 20px;
background: #dddddd;
content: '';
}
#mobile_menu .menu-button.menu-opened:after {
top: 23px;
border: 0;
height: 2px;
width: 15px;
background: #ffffff;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
#mobile_menu .menu-button.menu-opened:before {
top: 23px;
background: #ffffff;
width: 15px;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

#mobile_menu .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 20px;
  display: block;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background: var(--color-primary);
  color: #fff;
  border-radius:3px;
}
   
#mobile_menu .menu li ul.sub-menu li ul.sub-menu a {
  padding-left: 50px;
}
#reactheme-header .row-table .offcanvas-sec ul.offcanvas-icon {
  margin-top: 0;
}
#mobile_menu ul > li.menu-minimize > .submenu-button:before{
    display: none !important;
}


#mobile_menu ul ul .submenu-button {
height: 34px;
width: 34px;
top: 0;
}
#mobile_menu .submenu-button:after {
    content: "";
    position: absolute;
    font-family: "rt-icons";
    content: '\e809';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mobile_menu .submenu-button.submenu-opened:after{
    content: "";
    position: absolute;
    font-family: "rt-icons";
    content: '\e809';    
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mobile_menu ul ul .submenu-button:after {
top: 17px;
right: 7px;
}

#mobile_menu ul ul .submenu-button:before {
top: 11px;
right: 16px;
}
#mobile_menu .submenu-button.submenu-opened:before {
display: none;
}

body.logged-in{
    .sidenav{
        top: 30px;
    }
    .sidenav{
        .nav-link-container{
            top: 30px;
        }
    }
}

#reactheme-header .row-table .offcanvas-sec ul.offcanvas-icon {
    margin-top: 0;
}

.sidenav{
    .menu {
        li ul.sub-menu li a{
            padding-left: 40px;         
            &:before{
                display: none;
            }
        }
    }
    .widget_nav_menu{
        padding:0 !important;
    }
    p{
        font-size: 16px;
        line-height: 28px;
    }
}

.responsive-menus,
.sidebarmenu-area.text-right.mobilehum{
    display: none;
}

.menu-area .navbar ul > li > a span{
    position: relative;
    transition: 0.5s;
    display: inline-block;
    &:before{
        content: attr(data-hover);
        position: absolute;
        top: 100%;        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

ul.sub-menu li a:before, 
ul.sub-menu ul ul li a:before{
    display: none;
}


#reactheme-header.header-style-1{
    &.fixed-header{
        .sticky-wrapper{     
            background: none;
            position:absolute;
            width: 100%;
            z-index: 9;
            transition: all .5s ease;       
            
        }
    }
    
  
}

/*Full Search sec*/
.sticky_form.rts-search-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    background: #f6f6f6;
    width: 100%;
    height: 45%;
    z-index: 9999;
    box-shadow: 0 1px 6px rgba(0,0,0,.05);
    left: 0;
    button{
        background: none;
        top:30%;
        &:hover{
            color:var(--color-primary);
        }
        
    }
    .sticky_form_search{
    	&.sticky_form_search{
    		&:before{
    			margin-left:0 !important;
    		}
    	}
    }
}
.sticky_form_full{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;   
    button i::before {
        color: $bodyColor;  
        font-size: 30px;      
    }
}
.sticky_form .search-input{
    background: none;
    border: none;
    color: $titleColor;
    border-bottom: 1px solid #ced1d9;
    outline: none;
    border-radius: 0;
    padding:20px 0;
    font-size: 30px;
}
.close-search{
    position: fixed;
    right: 50px;
    top: 50px;  
    color: $titleColor;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
    &:before{
        font-size:30px !important;
    }
    
}
.sticky .menu-area .navbar ul li .sub-menu{
    top: 100%;
}


.menu-area .navbar ul li.mega.col2 ul.sub-menu {
    min-width: 130px;
}

/******* Mega Menu css ********/
.mega {
    position: static !important;
}

#reactheme-header .menu-area .navbar ul > li.mega > ul {
    width: 650px;    
}
#reactheme-header .menu-area .navbar ul > li.mega.classic > ul {
    transition: unset;
}


#reactheme-header .menu-area .navbar ul li.mega ul.sub-menu li a {
    padding: 10px 0;
}
#reactheme-header .menu-area .navbar ul li.mega ul li a{   
    position:relative;
}
body #reactheme-header .menu-area .navbar ul li.mega.mega-normal ul li a{
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}


#reactheme-header .menu-area .navbar ul li.mega ul > li a{
    cursor: pointer;
    &:after{
        display: none;
    }
}
#reactheme-header .menu-area .navbar ul > li.mega > ul li ul li a{
    border-bottom:none;
}

#reactheme-header .menu-area .navbar ul li.mega ul > li {
    float: left !important;

}

#reactheme-header .menu-area .navbar ul li.mega ul li ul.sub-menu {
    display: block;
    width: 99%;
}
#reactheme-header .menu-area .navbar ul li.mega ul li ul li {
    width: 100% !important;
    float: none !important;
    margin:0;
    padding: 0;
}
#reactheme-header .menu-area .navbar ul li.mega ul li ul.sub-menu {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    box-shadow: none;
}
#reactheme-header .menu-area .navbar ul li.mega ul li ul li:last-child a{
    border: none;
}
#reactheme-header .menu-area .navbar ul li.mega ul li ul li{
    border: none;
}
#reactheme-header .menu-area nav.navbar ul li.mega ul li .sub-menu {
    position: relative;
    opacity: 1;
    transform: scaleY(1);
}

#reactheme-header .menu-area nav.navbar ul li.mega ul li .sub-menu {
    right: auto !important;
    left: auto !important;
    padding: 0;
}
nav.nav.navbar, .menu-area .col-sm-9.menu-responsive{
    position: static !important;
}

.menu-area .navbar ul > li.mega > ul.sub-menu .flex-mega{
    display: flex;
    justify-content: space-between;    
    li{
        img{
            transition: all .5s;
            &:hover{
                transform: scale(1.03);
            }
        }
    }
}

// offcanvas
.reactheme-innner-offcanvas-contents{
    padding-top: 40px;
    .footer_social{
        margin: 30px 0 0;
    }
}

.hfe-site-sticky-logo-img{
    display: none;
}
.sticky .hide_logo_desktop{
    display: none;
}
.sticky .hfe-site-sticky-logo-img{
    display: block;
}
/* Menu */
.menu-wrap-off {
    position: fixed;
    z-index: 9999;
    width: 100%;
    right: 0;
    top:0;
    height: 100%;
    background: #fff;
    padding: 46px 30px 50px 30px;
    font-size: 1.15em;
    -webkit-transform: translate3d(520px, 0, 0);
    transform: translate3d(520px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    max-width: 460px;
    overflow-y: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    .offcanvas_logo{
        padding-bottom: 30px;
    }
    .widget_media_gallery{
        .gallery{
            margin: 0;
        }
        .gallery-item{
            margin: 0;
            .gallery-icon{
                padding: 8px;            
                img{
                    border-radius: 3px;
                }            
            }
        }
    }
    .inner-offcan{
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;       
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;       
        .nav-link-container{
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            z-index: 99;
            .close-button{
                background: var(--color-primary);
                color: #fff;
                padding: 6px 6px;
                display: block;                
                width: 40px;
                height: 40px;
                text-align: center;
                box-shadow: 0 0 25px rgba(0,0,0,.1);
                line-height: 26px;
                span{
                    background: #fff;
                    margin: 4px 5px;
                }
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    .logo-area {
        text-align: left;
        display: block;
        width: 100%;
        padding-bottom: 50px;
    }
}
.nav-link-container #close-button2.close-button span.hamburger1 {
    transform: rotate(-45deg) translate(-4px, 4px);
    width: 24px;
}
.nav-link-container #close-button2.close-button span.hamburger3 {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
    transform: rotate(45deg) translate(0px, 0px);
    width: 24px;
}
body.logged-in .menu-wrap-off{
    padding: 63px 30px 50px 50px;
}   

body.logged-in .menu-wrap-off .inner-offcan .nav-link-container {
    top: 32px;
}

.off-nav-layer{
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: -1;
    background: $whiteColor;
    border-radius: 50%;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    display: block !important;
}
.off-nav-layer.off-open{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    display: block;
}


.menu-ofcn.off-open{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.9, 0, 0.3, 1);
}

.inner-offcan{
    opacity: 0;
    transition: all .8s ease;
}
body.on-offcanvas .menu-ofcn.off-open{
    .inner-offcan{
        opacity: 1;
    }
}

.off-nav-layer{
    background:#fff;
}
.mobile-menu-container ul li.active a{
    color: $secondaryColor;
}

/*------------------------------------
    04. Sticky Menu
--------------------------------------*/
.menu-area.sticky-menu{
    margin: 0;
    width: 100%;
    z-index: 99;
    transition: all 300ms ease-in-out;
    background: transparent;
    .navbar{
        ul{
            li{
                > a{
                    color: $titleColor ;                    
                }

                &:hover{
                    a{
                        color:var(--color-primary)
                    }
                }
            }
            .current-menu-ancestor.menu-item-has-children >{
                a{
                    color:var(--color-primary);
                }
            }
        }
        ul.sub-menu{
            li{
                a{
                    color:$titleColor;
                }
            }
        }
    }     

    .nav-link-container{
        i{
            color: $whiteColor;
        }
    }
}

.sticky-logo{
    display: none;
}

.sticky {
    .logo-area{
        display: none;
    }
    .logo-area.sticky-logo{
        display: block;
    }
}

.react-sideabr.dynamic-sidebar{
    .service-singles{
        list-style: none;
        padding: 0;
        box-shadow: none;
        .widget-title{
            padding: 0;
            &:after{
                display:none;
            }
        }
        .menu{
            li{
                border: none !important;
                margin-top: 0 !important;
                a{
                    display: block;
                    border: 2px solid #d3e1fb;
                    padding: 16px 18px;
                    transition: all .5s ease;
                    border-radius: 5px;
                    position: relative;
                    font-size: 16px;
                    font-weight: 700;
                    &:before{
                        content:"\f113";
                        position: absolute;
                        right: 12px;
                        top: 16px;
                        font-family: Flaticon;
                        color: var(--color-primary);
                    }
                    &:hover{
                        background:$secondaryColor;
                        color: $whiteColor;
                        border-radius: 5px;
                        border-color: $secondaryColor;
                        &:before{
                            color: $whiteColor;
                        }
                    }
                }
                &.current-menu-item{
                    a{
                        background:$secondaryColor;
                        color: $whiteColor;
                        border-color: $secondaryColor;
                        &:before{
                            color: $whiteColor;
                        }
                    }
                }
            }
        }
    }
    .phones{
        .address-icon:before{
            opacity: .2 !important;
            visibility: visible !important;
        }
    }
}
.rstbd{
    display: flex;
    justify-content: space-between;
    .tab-image{
        flex: 0 0 50%;
        img{
            padding-right:50px;
        }
    }
    .tab-contents{
        a.button{
            background:$secondaryColor;
            color: #fff;
            padding: 12px 32px 12px 32px;
            border-radius: 5px;
            transition: $transition;
            display: inline-block;
            &:hover{
                opacity: .8;
            }
        }
    }
}


body .reactheme-testimonial-slider2 .testi-item .user-info > img{
    max-width: 100%;
}
.reactheme-video{
    &.default{
        .contents-area{
            position: relative;
            .video_title{
                margin: 0;
                padding-bottom: 12px;
            }
        }
        .overly-default{
            background: #fff;
            border-radius: 50%;                         
            &:before{
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                position: absolute;
                background-color: inherit;
                border-radius: inherit;
                animation: pulse-border 3s ease infinite;
                width: 80px;
                height: 80px;
                line-height: 80px;
                margin-top: 9px;
                margin-left: 6px;
            }
            &:after{
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                position: absolute;
                background-color: inherit;
                border-radius: inherit;
                width: 80px;
                height: 80px;
                line-height: 80px;
                margin-top: 9px;
                margin-left: 6px;
                transform: translate(-50%, -50%);
            }   
            .popup-videos{
                position: relative;
                i{
                    font-size: 22px;
                }
            }       
        }
    }
}

.lp-list-table thead tr th {
    color: #fff !important;
}
.alignitems{
    align-items: center;
}
.body-close{
    opacity: 0;
    visibility: hidden;
}
.type-product.featured{
    text-align: left;
}

body.off-open{
    .body-close{    
        position: fixed;
        width: 100%;
        background: #000;
        height: 100%;
        top: 0;
        bottom: 0;
        opacity: .5;    
        z-index: 9999;
        visibility: visible;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);       
        right: 100%;
    }
}

body.off-open-2{
    overflow: hidden;
    .body-close{    
        position: absolute;
        width: 100%;        
        height: 100%;
        top: 0;
        bottom: 0;    
        z-index: 9999;
        visibility: visible;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);       
        right: 100%;
        cursor: grab;
    }
}

.rstab-main{
    ul.nav{             
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        &.bubble{
            li{
                a.active{
                    position: relative;
                    &:after{
                        top: 100%;
                        left: 15%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-top-color: var(--color-primary);
                        border-width: 12px;
                        margin-left: -30px;
                    }
                }
                
            }
        }
        li{ 
            margin-right: 20px;   
            span{
                color: $secondaryColor;
                padding-right: 7px;
            }         
            a{ 
                background: #f1f1f1;            
              
                align-items: center;
                justify-content: center;
                position: relative;
                top: 1px;               
                &.active{
                    background:var(--color-primary);
                    color: #fff;                    
                }
                img.center{
                    margin: 0 auto 12px;
                }
                img.right{
                    margin: 0 0 12px auto;
                }
            }
            &:first-child{
                margin-left: 0 !important;
            }
            &:last-child{
                margin-right: 0 !important;
            }
            a:hover{
                background:var(--color-primary);
            }
        }
        &.icon_top{
            li{
                a,
                a img,
                a i,{
                    display: block;
                }
            }
        }
    }
    .tab-content{
        background: #fff;
        padding: 10px;
        overflow: hidden;       
        p{
            &:last-child{
                margin: 0;
            }
        }
    }

    &.vertical{
        display: flex;
        ul.nav{
            margin: 0 20px 0 0;
            display: block;
            &.bubble{
                li{
                    a.active{
                        position: relative;
                        &:after{
                            top: 100%;
                            left: auto;
                            right: -24px;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-left-color: var(--color-primary);
                            border-width: 12px;
                            margin-left: -30px;
                        }
                    }
                }
            }
        }
    }
    .tab-pane.active {
        animation: slide-down 2s ease-out;
    }
    &.no_item_menu{
        ul{
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
        }
        &.left{
            text-align: left;
        }
        &.center{
            text-align: center;
        }
        &.right{
            text-align: right;
        }
    }

    @keyframes slide-down {
        0% { opacity: 0; transform: translateY(50%); }
        50% { opacity: 1; transform: translateY(0); }
    }
}
.offcanvas-icon{
    span.dot1, span.dot2, span.dot3,
    span.dot4,span.dot5, span.dot6,
    span.dot7, span.dot8, span.dot9{
        width: 4px !important;
        height: 4px !important;
        border-radius: 0;
        float: left;
        margin-bottom: 3px !important;
        margin-right: 4px;
    }  
}


figure.gallery-item{    
    .gallery-icon{
        position: relative;     
        a{
            img{
                transition: all .8s ease;
            }
            &:before{
                content:"";
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;                
                opacity: 0;
                display: block;
                transition: all .8s ease;
                z-index: 1;
            }
        }
    }
    &:hover{
        .gallery-icon{
            a{
                &:before{
                    opacity:.4;
                }
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.reactheme-breadcrumbs{
    &.porfolio-details{     
        &.align-brea-lefts{
            .breadcrumbs-inner{
                text-align: left !important;
                h1.page-title{
                    max-width: 100%;
                }
            }
            .col-md-12.text-center{
                text-align: left !important;
            }
        }
    }
}

.reactheme-footer .recent-post-widget .show-featured .post-desc i{
    color: $secondaryColor;
}
.recent-post-widget{
    .post-item{
        .post-desc{
            h5{
                margin: 0 0 4px;
            }
            ul{
                margin: 0;
                list-style: none;
                li{
                    margin: 0 !important;
                    padding:0 !important;
                    border:none !important;
                }
            }
        }
    }
}
#reactheme-header{      
    .menu-area .navbar-menu .mega.two-col .sub-menu{
        
        &:after{
            display: none !important;
        }
        li{
            width: 50%;
           
            margin-right: 20px;
            border-bottom: 0 !important;
            &:last-child{
                border:none;
                margin-right: 0;
            }
        }
        .menu-item-has-children > a{
            pointer-events: none;
            font-size: 20px !important;
            color:$titleColor !important;
            &:before{ 
                display: none !important;
            }
        }
        
    }
}


//Of Canvas Layout Two
.default-header-style {
    .offcanvas-icon.layout-1 {
        li {
            a {
                svg {
                    width: 55px;
                    height: 55px;
                    line-height: 55px;
                    text-align: center;
                    border: 1px solid #E9E9E9;
                    background: #fff;
                    padding: 15px;
                    rect {
                        fill: $titleColor;
                    }
                }
            }
        }
    }
}