@charset "utf-8";
/**
*
* -----------------------------------------------------------------------------
*
* Template : lottovite -  Handyman Solution WordPress Theme
*
* ----------------------------------------------------------------------------
*
**/

.custom-container{
	padding: 0 !important;
}

.elementor-tab-content {
	animation: slide-down 2s ease-out;
}

header .bg-remove {
	background: transparent !important;
}

@media (max-width:991px){
	.storencycle .phone-thumb img {
		max-height: 400px;
	}
}
@media (max-width:991px){
	.blog-v5-rightwrap .blog-v5-inner .thumb {
		max-width: 100% !important;
	}
	.blog-v5-rightwrap .blog-v5-inner .thumb img {
		width: 100%;
	}
}

.menu-sticky.sticky {
	top: 0;
}

.menu-sticky.stuck .scroll-box-shadow {
	box-shadow: 0px 7px 18px #1810100d;
}

.mega.col-3,
.mega.col-2,
.mega.col-4 {
	width: unset
}

.handyman_slider_button {
	width: unset !important;
}


@media only screen and (min-width: 1366px) and (max-width: 1550px) {
	.handyman_round_counter2 {
		left: 355px !important;
	}
}

@media only screen and (max-width: 1640px) {
	.page-error .error-image {
		max-width: 75%;
	}
	.feature-item-lottovite-area .right-img-area{
		width: 70px;
	}
}

/* Layout: max 1440px. */
@media only screen and (max-width: 1440px) {
	.page-error .content-area h3 span {
		font-size: 200px;
		margin: 0 0 20px;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.menu-area .navbar {
		margin-right: 0;
	}

	.portfolio-slider-nav {
		margin-right: 40px !important;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog-meta li {
		margin-right: 15px !important;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog-meta {
		padding: 15px 10px !important;
	}
}

@media only screen and (max-width: 1199px) {
	.menu-area .navbar {
		margin-right: 0;
	}

	body .rts-bread-crumb-area .wrapper .bg-text-stok {
		font-size: 130px;
	}

	.sidenav .menu>li.menu-item-has-children:before {
		left: 100%;
	}

	.svtheme-blog .blog-slider .blog-meta .blog-title {
		font-size: 16px;
		font-weight: 700;
	}

	.menu-area .navbar>ul>li a {
		padding-left: 8px !important;
		padding-right: 14px !important;
	}

	#svtheme-header .menu-area .navbar ul>li.menu-item-has-children>a:before,
	#svtheme-header .menu-area .navbar ul>li.menu-item-has-children.three-col>a:before {
		right: 0px !important;
	}

	#svtheme-header.header-style1 .menu-area .navbar ul>li.menu-item-has-children>a:before {
		right: 0 !important;
	}

	.menu-area .navbar ul li ul.sub-menu li a {
		padding: 8px 20px;
	}

	.handyman_round_counter2 .counter-top-area.no.style2 {
		width: 305px;
		height: 305px;
		padding: 20px;
	}

	.handyman_round_counter2 .counter-top-area.no.style2::after {
		height: 340px;
		width: 340px;
		top: -30px;
		left: -20px;
	}

	.handyman_round_counter1 .counter-top-area.no.style2 {
		width: 400px;
		height: 400px;
		padding: 40px;
	}

	.handyman_round_counter1 .counter-top-area.no.style2::after {
		height: 440px;
		width: 440px;
		top: -40px;
		left: -20px;
	}

	.portfolio-slider-nav .swiper-button-next {
		right: 30px;
		transform: translateX(30px);
	}

}

@media only screen and (min-width: 1024px) {
	.mobile-menus {
		display: none;
	}

	.portfolio-slider-nav {
		margin-right: 45px !important;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog-meta li {
		margin-right: 15px !important;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog-meta {
		padding: 15px 10px !important;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {

	.pagination-area {
		margin-bottom: 50px;
	}

	body .rts-bread-crumb-area .wrapper .bg-text-stok {
		font-size: 100px;
	}


}

@media only screen and (max-width: 768px) {
	.rt-slider-navigation {
		display: none;
	}


}

@media only screen and (max-width:1024px) {

	#svtheme-header .primary-menu .navbar-menu,
	.menu-area .menu-responsive.primary-menu .navbar-menu {
		display: none;
	}

	.primary-menu-icon .sidebarmenu-area.text-right.mobilehum {
		display: block;
	}

	.svtheme-innner-offcanvas-contents {
		display: none;
	}

	.menu-wrap-off .inner-offcan {
		display: block;
	}

	.menu-wrap-off .inner-offcan .nav-link-container {
		left: 36px;
	}

	.menu-wrap-off .inner-offcan .nav-link-container {
		top: 35px;
	}

	.sidenav .widget_nav_menu ul li a {
		font-size: 15px;
		padding: 15px 0;
		line-height: 30px;
	}

	.h2-about .description p {
		padding-right: 0px;
	}

	.handyman_round_counter2 .counter-top-area.no.style2 {
		width: 305px;
		height: 305px;
		padding: 20px;
	}

	.handyman_round_counter2 .counter-top-area.no.style2::after {
		height: 340px;
		width: 340px;
		top: -30px;
		left: -20px;
	}

	.handyman_round_counter1 .counter-top-area.no.style2 {
		width: 400px;
		height: 400px;
		padding: 40px;
		margin: auto;
	}

	.handyman_round_counter1 .counter-top-area.no.style2::after {
		height: 440px;
		width: 440px;
		top: -40px;
		left: -20px;
	}
}

/* Medium Layout: 991px. */
@media only screen and (min-width: 992px) {
	body.off-open {
		position: relative;
	}
}

@media only screen and (max-width: 991px) {
	#mobile_menu {
		padding-top: 50px;
	}
	.header-style-1 ul.offcanvas-icon {
	  	margin-top: 0;
	}
	li.menu-item-has-children a:before {
		display: none;
	}

	#mobile_menu .menu li.mega ul.sub-menu li ul.sub-menu a {
		padding-left: 25px;
	}

	.svtheme-blog-grid1.blog-item .image-part a img {
		width: 100%;
	}

	.menu-wrap-off .inner-offcan {
		display: block;
	}

	body.logged-in .menu-wrap-off .inner-offcan .nav-link-container {
		top: 44px
	}

	.menu-wrap-off .inner-offcan .nav-link-container {
		top: 44px;
	}

	.sidenav .widget_nav_menu ul ul li a {
		font-size: 14px !important;
	}

	.padding-left-sidebar .dynamic-sidebar {
		padding-right: 0;
	}

	.menu-wrap-off {
		padding: 46px 30px 50px 36px;
	}

	.pagination-area {
		margin-top: 50px;
	}

	.main-contain #content {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.single-portfolios .main-contain #content {
		padding-bottom: 90px;
	}

	#svtheme-header.fixed-menu .header-inner {
		width: auto;
		flex-wrap: unset;
		height: auto;
	}

	#svtheme-blog.blog-page .col-sm-12:last-child .blog-item {
		margin-bottom: 0;
	}

	#mobile_menu ul ul .submenu-button {
		top: 5px;
	}

	#mobile_menu .submenu-button:before {
		top: 11px;
		height: 12px;
	}

	#mobile_menu .submenu-button::after,
	.menu-wrap-off .inner-offcan .nav-link-container .close-button i:before {
		font-size: 16px;
	}

	#mobile_menu ul ul .submenu-button::before {
		top: 11px;
		right: 17px;
	}

	#mobile_menu .submenu-button {
		top: 5px;
	}

	.menu-wrap-off .inner-offcan {
		padding: 0;
	}

	.sidenav p,
	.sidenav .footer-contact-ul li.address1,
	.sidenav.offcanvas-icon .svtheme-offcanvas-right a {
		font-size: 16px;
	}

	#menu-offcanvas, .widget.icon-list ul.menu {
		display: none !important;
	}

	.sidenav .menu li ul.sub-menu li a {
		font-size: 14px;
	}

	.sidenav .widget_nav_menu ul li ul li a {
		padding: 10px 0;
	}

	.sidenav .menu>li.menu-item-has-children::before {
		top: 15px;
		font-size: 20px !important;
	}

	.menu-wrap-off {
		overflow-x: hidden;
	}

	.menu-wrap-off {
		overflow-y: auto;
		top: 0;
	}

	.dynamic-sidebar {
		padding: 0;
	}

	.close-search {
		right: 25px;
		top: 25px;
	}

	body.logged-in .close-search {
		right: 30px;
		top: 50px;
	}

	.search-results .widget-area {
		margin-top: 70px;
	}

	#svtheme-header .sidebarmenu-search .sticky_search {
		padding: 21px 0;
	}

	.single .ps-navigation .link_text {
		font-size: 14px;
		font-weight: 500;
	}

	.header-style1 .sticky .menu-area {
		background: #fff;
	}

	.sidenav.nav-active-menu-container {
		box-shadow: none;
	}

	.mobile-menu-container ul.sidenav.nav-active-menu-container {
		padding: 70px 0 0;
	}

	.sidenav {
		padding: 0;
		width: auto;
	}

	body.page-template-page-single .sidenav {
		padding: 36px 0 0;
	}

	ul.sidenav .menu>li.menu-item-has-children::before {
		right: 14px;
	}

	.sidenav li.nav-link-container {
		top: 24px !important;
		left: 20px !important;
		float: none !important;
	}

	.logged-in .menu-sticky.sticky .sidenav .nav-link-container {
		margin-top: 15px;
	}

	.header-style1 .sidenav li.nav-link-container {
		padding: 8px 10px 10px 10px;
	}

	.svtheme-breadcrumbs {
		clear: both;
	}

	.menu-area #primary-menu-single {
		display: block;
	}

	.navbar-header {
		float: none;
		margin-top: 8px;
	}

	#svtheme-header .menu-area .navbar ul li:hover a::after,
	#svtheme-header .menu-area .navbar ul li.active a::after {
		display: none;
	}

	.menu-area .navbar ul li ul.sub-menu {
		min-width: 100%;
		display: none;
	}


	span.author {
		margin-left: 6px;
	}

	.dynamic-sidebar,
	.padding-left-sidebar .dynamic-sidebar {
		margin-right: 0;
		margin-left: 0;
	}

	.svtheme-blog-details .widget-area {
		padding-top: 60px;
	}

	.handyman_advance_tab .rts-tab-advance {
		display: block;
	}

	.handyman_advance_tab .rts-tab-advance .nav {
		display: block;
		max-width: 100%;
		margin: 0;
	}

	.handyman_advance_tab .rts-tab-advance .nav li button {
		min-width: 100%;
	}

	.handyman_tabs_btn .react-button a {
		width: 100%;
	}

	.portfolio-slider-nav {
		display: none;
	}
}


/* Mobile Layout: 767px. */

@media only screen and (max-width: 767px) {
	.ps-image {
		text-align: center;
	}

	body .rts-bread-crumb-area .wrapper .bg-text-stok {
		font-size: 80px;
	}

	#svtheme-header .sticky-wrapper .sticky .stikcy-padding {
		padding: 10px 15px !important
	}

	.single-project-lottovite-h3 .name-social-area-wrapper {
	  	opacity: 1 !important;
	  	bottom: 0 !important;
	}

	.single-post .main-contain #content {
		padding-bottom: 100px;
	}

	.svtheme-breadcrumbs .breadcrumbs-title {
		margin-top: 12px;
	}

	.blog .pagination-area,
	.dynamic-sidebar {
		margin-bottom: 20px;
	}

	.blog-item.no-thumbs .categories {
		padding-left: 20px;
	}

	.svtheme-footer .footer_social {
		margin-bottom: 25px;
	}

	ul.footer_social li {
		height: 30px;
		line-height: 30px;
	}

	.full-blog-content .btm-cate {
		margin-bottom: 7px;
	}

	.full-blog-content .btm-cate li {
		margin-bottom: 5px;
	}

	.svtheme-addon-slider .team-item {
		padding-left: 0;
		padding-right: 0;
	}

	.single-post .single-posts-meta {
		padding-left: 20px;
		padding-right: 20px;
	}

	.svtheme-blog-details .single-content-full .alignleft,
	.svtheme-blog-details .single-content-full .alignright {
		float: none;
		width: 100%;
		display: block;
	}

	.svtheme-header-title.header-right .title {
		text-align: left;
	}

	.table-background tr,
	.table-background td,
	.table-background th {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	body.single-post .react-sideabr {
		padding-top: 50px;
	}

	.menu-sticky.sticky {
		position: static;
	}

	.comments-area .comment-list li.comment ol.children li {
		margin-left: 0;
	}

	.comments-area .comment-list li.comment .comment-author img {
		float: none;
		border-radius: 5px;
		display: block;
		margin: 0 auto;
		padding: 0 0 20px;
		position: static;
	}

	.comments-area .comment-list li.comment .comment-author b {
		float: none;
		border-radius: 5px;
		display: block;
		margin: 0 auto;
		padding: 0;
	}

	.comments-area .comment-list li.comment .reply {
		padding-left: 0;
		margin-top: 0;
		text-align: center;
	}

	.comments-area ol.children {
		padding: 0;
		margin: 0;
	}

	.comments-area .comment-list li.comment ol.children li {
		padding: 0;
	}

	.comments-area .comment-list li.comment .comment-metadata {
		margin-left: 0;
		margin-top: 0;
	}

	.comment-full {
		text-align: center;
	}

	#review_form .comment-full {
		text-align: unset;
	}

	.comments-area .comment-list li.comment .comment-content {
		padding: 0;
	}

	.comments-area .comment-list li.comment {
		padding: 10px;
		margin: 0;
		border: none;
		box-shadow: none;
	}

	.comments-area .comment-list li.comment .comment-content p {
		margin-bottom: 8px;
	}

	.comments-area .comment-list li.comment .comment-content p {
		margin-bottom: 8px;
	}

	.comments-area .comment-list li.comment .comment-content {
		margin-top: 15px;
	}

	.svtheme-breadcrumbs .breadcrumbs {
		margin-top: 8px;
	}

	.svtheme-heading h2:after {
		display: none;
	}

	.svtheme-heading h2 {
		font-size: 25px;
		line-height: 36px;
	}

	.sidenav.nav-active-menu-container .offcanvas_social li a {
		padding: 20px 0 0 16px;
	}

	.react-sideabr .widget,
	.single-teams .team-inner,
	.single-teams .details-tabs-area .team-detail-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}

	.blog .svtheme-blog .blog-item .full-blog-content,
	.archive .svtheme-blog .blog-item .full-blog-content {
		padding: 20px
	}

	.blog .svtheme-blog .blog-item .full-blog-content .title-wrap .blog-title,
	.archive .svtheme-blog .blog-item .full-blog-content .title-wrap .blog-title {
		font-size: 25px;
		line-height: 35px;
	}

	.react-sideabr .widget_block label.wp-block-search__label, .react-sideabr .widget_block h2, .react-sideabr .widget-title {
		font-size: 22px;
	}

	.blog .svtheme-blog .blog-img .categories,
	.archive .svtheme-blog .blog-img .categories,
	.blog .blog .blog-img .categories,
	.archive .blog .blog-img .categories {
		left: 20px;
	}

	.blog .svtheme-blog .blog-item,
	.archive .svtheme-blog .blog-item {
		margin-bottom: 50px;
	}

	.blog-page .dynamic-sidebar {
		margin-top: 60px;
	}

	.comments-area .comment-list li.comment .comment-body {
		padding-left: 0;
	}

	.single-post .svtheme-blog-details .type-post .single-content-full,
	.svtheme-blog-details .comment-respond {
		padding: 25px
	}

	.svtheme-blog-details .author-block {
		margin: 0 25px 0;
	}

	.svtheme-breadcrumbs .breadcrumbs-title {
		margin-top: 0px;
	}

	.single-post .svtheme-breadcrumbs .breadcrumbs-title {
		display: none;
	}

	.rt-grid-figure {
		margin-bottom: 17px;
	}

	.team-grid-style5 .team-inner-wrap, .team-slider-style5 .team-inner-wrap {
		max-width: 600px;
		margin: 0 auto;
	}

	.navigation-center-bottom .swiper-button-next {
		right: 28%
	}

	.navigation-center-bottom .swiper-button-prev {
		left: 28%
	}

	.svtheme-breadcrumbs .page-title {
		font-size: 38px;
		line-height: 43px;
	}

	.footer_gallery .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item {
		max-width: 33%;
	}

	.footer_gallery .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item img {
		width: 100%;
	}

	.handyman_slider_button {
		padding: 12px 18px !important;
		font-size: 12px !important;
	}

	.handyman_advance_tab .rts-tab-advance {
		display: block;
	}

	.handyman_advance_tab .rts-tab-advance .nav {
		display: block;
		max-width: 100%;
		margin: 0;
	}

	.handyman_advance_tab .rts-tab-advance .nav li button {
		min-width: 100%;
	}

	.handyman_tabs_btn .react-button a {
		width: 100%;
	}

	.counter-top-area.style2 .rts-counter-list {
		width: max-content;
		margin: auto;
	}

	.portfolio-slider-nav {
		display: none;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog-meta li {
		margin-right: 0px !important;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog-meta {
		padding: 15px 5px !important;
		justify-content: space-between;
	}

}



@media only screen and (max-width:600px) {

	.single .svtheme-porfolio-details .ps-navigation {
		padding: 20px;
	}
}

header section.menu-mega .elementor-widget,
header section.menu-mega .elementor-widget-wrap,
header section.menu-mega .elementor-column,
header section.menu-mega .elementor-container {
	position: static;
}

@media (max-width: 425px) {
	.handyman_advance_tab .rts-tab-advance .nav li button .button_content {
		font-size: 18px;
		line-height: 20px;
	}

	.handyman_advance_tab .rts-tab-advance .nav li button .button_content p {
		font-size: 13px;
		line-height: 15px;
	}

	.handyman_round_counter1 .counter-top-area.no.style2 {
		width: 310px;
		height: 310px;
		padding: 40px;
		margin: auto;
	}

	.handyman_round_counter1 .counter-top-area.no.style2::after {
		height: 335px;
		width: 335px;
		top: -19px;
		left: -10px;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog_content .title a {
		font-size: 20px !important;
		line-height: 30px !important;
	}

	.rt-blog-slider.slider-style-1 .blog-item .blog_content {
		padding: 23px 20px 30px 20px !important;
	}

	.svtheme-breadcrumbs .page-title {
		line-height: 50px !important;
		font-size: 40px !important;
	}
}






/* Custom */

@media (max-width: 991px) {

}
@media (max-width: 420px) {

}
@media (max-width: 599px) {

}

@media (min-width: 1399px) and (max-width: 1200px) {

}
